.projects{
    margin: 5%;
}
.projects img{
    width: 80%;
    border: black solid .1em;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #14B1BA;
}




/* .trivia:hover{
    color: #14B1BA;
}
.brewery:hover{
    color: #14B1BA;
}

.greatReads:hover{
    color: #14B1BA;
}

.camping:hover{
    color: #14B1BA;
} */

.github a{
    color: #034B7C;
    text-decoration: none;
}

.github a:hover{
  color: #14B1BA;
}
@media only screen and (min-width: 768px){
    .allProjects{
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    }

    .allProjects p{
        margin: 5% 8%;
    }
    
}
   
  
@media only screen and (min-width: 1200px){

 .projects{
     margin: 5% 20%;
 }
   
}