.projects{
    margin: 5%;
}
.projects img{
    width: 80%;
    border: black solid .1em;
}

@media only screen and (min-width: 768px){
    .allProjects{
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    }

    .allProjects p{
        margin: 5% 8%;
    }
}
   
  
@media only screen and (min-width: 1200px){

 .projects{
     margin: 5% 20%;
 }
   
}