.contact{
    margin: 5%;
}

.contact h1{
    color:#14B1BA;
}
.contactIcon{
    display: flex;
    justify-content: space-around;
    margin: 0 35%;
}

.contactIcon img{
    width: 50%;
}

.email{
    margin-bottom: 4%;
}

.email a{
    border: black solid .1em;
    padding: 1%;
}